.row {
    width: 40%;
    height: 520px;
    border: 1px solid grey;
    margin-left: 20%;
    text-align: center;
}

h1 {
    color: rgb(4, 4, 202);
}

.flags {
    margin: 30px 70px;
}

button {
    padding: 10px 20px;
    background-color:pink;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

input {
    border: 1px solid gray;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
}

input:hover {
    padding: 15px 32px;
}

button:hover {
    padding: 12px 22px;
    background-color:black;
}

img {
    width: 400px;
    height: 220px;
}